$primary-color: #a5adff;
$secondary-color: #e7ff53;

$purple-light-color: #dcdfff;
$black-color: #202020;
$grey-color: #97989a;

$dark-orange-color: #eb4335;
$blue-color: #1b46de;
$red-color: #e10000;
$green-color: #85ea56;
$pink-color: #ffa5e0;
