$primary-color: #A5ADFF;
$secondary-color: #E7FF53;

$purple-light-color: #DCDFFF;
$black-color: #202020;
$grey-color: #97989A;

$dark-orange-color: #EB4335;
$blue-color: #1B46DE;
$red-color: #E10000;
$green-color: #85EA56;
