// $primary-yellow-color: #F9BF17;
// $secondary-orange-color: #FF4F00;
// $btn-shadow-color: #FF7A01;
// $black-color: #261F19;
// $text-grey-color: #A3A09D;

$primary-color:  #A5ADFF;
$secondary-color: #E7FF53;
$black-color: #202020;
$grey-color: #A3A09D;