@mixin margin-element {
    margin-bottom: 10px;
}

.page{
    width: 100%;
    margin: auto;
    justify-content: space-around;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.page-image{
    height: 56vh;
}

.page-title{
    font-size: 1.75em;
    text-align: start;
    font-weight: 800;
    font-family: $title-font-family;
}

.page-button{
    background-color: $secondary-color;
    border: 2px solid $black-color;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.12em;
    letter-spacing: 1px;
    box-shadow: 7px 8px 0px 0px $black-color;
    transition: $transition-ease-in-out;
    cursor: pointer;
    width: 248px;
    height: 74px;
    align-self: flex-end;

    &:hover{
        background-color: $black-color;
        color: white;
        border-color: $secondary-color;
        box-shadow: 7px 8px 0px 0px $secondary-color;
        transition: $transition-ease-in-out;
    }
}

@media screen and (min-width: 776px){
    .page-title{
        font-size: 3em;
    }

    .page-button{
        width: 300px;
    }
}
