.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-image{
    width: 100%;
    @include flexCenter;
    @include contentBorder;

    & .img-full{
        width: 100%;
        height: 100%;  
        object-fit: cover;
    }
}

.container-BOOK{
    height: 170px;
    background: $secondary-color;
}

.container-VIDEO{
    height: 120px;
    background-color: $primary-color;
}

.container-PODCAST{
    height: 75px;
    background-color: $dark-orange-color;
}

.container-ARTICLE{
    height: 120px;
    background-color: $green-color;
}

.container-OTHERS{
    height: 80px;
    background-color: #FFF;
}

.container-description{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-transform: uppercase;

    & h2{
        color: $black-color;
        font-size: 14px;
        font-weight: 600;
    }
    
    & span{
        color: $grey-color;
        font-size: 12px;
        font-weight: 700;
        margin-top: 6px;
    }
}