.defaultButton-component{
    max-width: 248px;
    width: auto;
    padding: 20px 60px;
    display: flex;
    align-self: flex-end;

    border-radius: 12px;
    border: 2px solid #202020;
    background: $secondary-color;
    box-shadow: 7px 8px 0px 0px $black-color;

    color: $black-color;
    font-size: 18px;
    font-weight: 700;
}