.filter{
    display: flex;
    flex-direction: column;
}

.filter-result{
    width: 100%;
    display: grid;
    justify-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
    margin: 24px 0;
    gap: 20px;
}

.content-MUSIC{
    grid-row: span 6;
}

.content-BOOK{
    grid-row: span 5;
}

.content-VIDEO{
    grid-row: span 4;
}

.content-PODCAST{
    grid-row: span 3;
}

.content-ARTICLE{
    grid-row: span 2;
}

.content-OTHERS{
    grid-row: span 1;
}



.btn-add-content{
    width: 100%;
    height: 102px;
    @include contentBorder;
    background: transparent;
    cursor: pointer;
    grid-row: 1 / 4;
}

@media screen and (min-width: 576px){
    .filter{
        width: 60%;
        align-self: center;
    }
    .filter-result{
        grid-template-columns: repeat(3, 1fr);
    }

    .filter-result > article, .btn-add-content{
        grid-row: auto;
    }
}